.logo {
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 45px;
	background: url(../Images/logo.png) no-repeat center center;
	background-size: 100% auto;
}

.p-title3 {
	text-align: center;
	margin-top: 10px;
	font-family: "Adobe 黑体 Std R";
	color: #333;
	font-size: 22px;
}

.mui-input-group:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 0;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.mui-input-group:before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 0;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.mui-content-group {
	width: 90%;
	height: auto;
	overflow: hidden;
	margin: 30px auto;
}

.content-input1 input {
	border-bottom: 1px solid #DFDFDF;
	height: 30px;
	line-height: 30px;
	width: 98%;
	font-size: 16px;
	margin-top: 20px;
}

.content-input1 input:focus {
	outline: none;
	border-color: #6DC7CF;
}

.normalInput {
	display: inline-block;
}

.normalInput input {
	font-size: 16px;
	width: 100%;
	height: 40px;
}

#pwdBtn {
	margin: 19px 0px 0px -40px;
}

.pwdBtnShow {
	outline: none;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	float: right;
	margin-right: 5px;
}

.pwdBtnShow i {
	background-position: -30px -93px;
	background-repeat: no-repeat;
	background-image: url(../Images/shp-cart-icon-sprites.png);
}

.i_icon {
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.password1 {
	width: 98%;
	border-bottom: 1px solid #DFDFDF;
	background: none;
	outline: none;
	line-height: 1.79rem;
	font-size: 1.07rem;
	display: none;
}

.password {
	width: 98%;
	border-bottom: 1px solid #DFDFDF;
	background: none;
	outline: none;
	line-height: 1.79rem;
	font-size: 1.07rem;
}
.table_box-buttom,.login-btn{
	width:100%;
    height: 2.86rem;
    line-height: 2.86rem;
    text-align: center;
    margin: 30px auto;
    background: #6DC7CF;
    border-radius: 0.29rem;
    color: #fff;
   box-shadow: 1px 4px 8px rgba(9, 193, 187, 0.2), 0px 0px 2px rgba(55, 201, 216, 0.61);
}
.table_box-buttom a{color: #fff; font-family:"Adobe 黑体 Std R" ;font-size:18px ;}
.p-title4{text-align: center;}
.p-title4 a{
	color:#6DC7CF;font-size:16px ; font-family:"Adobe 黑体 Std R" ;
}
.p-title5{margin-top: 10px;display: block; color: #D32A2A; font-family:"Adobe 黑体 Std R" ; display:none ;}
.p-title6{
	 text-align: center;
    font-size: 1.50rem;
    margin: 0 auto;
    display: block;
    margin-top: 1.07rem;
    color: #000;
    border-bottom: 1px solid #DFDFDF;
    width: 6.57rem;
}
.p-title7{text-align: center; color: #999999;font-family:"Adobe 黑体 Std R" ;margin-top:10px ;}
.Withdrawal {
    margin-top: 17px;
    height: 38px;
    display: block;
    width:90%;
    text-align: center;
    margin:10px auto;
    border-radius: 4px;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    border: 1px solid #6DC7CF;
    background: #FFF;
    color: #6DC7CF;
}
.Withdrawal a{color: #6DC7CF;}
.login-btn{width: 90%; font-size: 18px;margin-bottom:15px;margin-top:60px ;}
.login-btn a{color: #fff;}
.footer-copyright{width: 100%; height:40px ; line-height: 40px;
background: #f0f0f0; position: fixed;bottom: 0px;text-align: center;
color:#6DC7CF;
}
.content-input1 .cord{width: 30%;
height:40px ; line-height: 40px; background:#6DC7CF ; border-radius: 4px;
color: #fff;    margin-left: 10px;border-bottom: none;
}
.black {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    filter: alpha(opacity=70);
    z-index: 999999;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    -ms-filter: ”progid: DXImageTransform.Microsoft.alpha(opacity=50);
}
.password-content1,.password-content2,.password-content3{
	width: 75%;
    height: 110px;
    background: #fff;
    position: fixed;
    top: 32%;
    left: 13%;
    z-index: 99999999;
    display: none;
    border-radius: 4px;
}
.password-content1 p:nth-of-type(1){
	text-align: center;margin-top: 25px;
	font-family:"Adobe 黑体 Std R" ;
}
.password-content1 .p-shi{
	color: #6DC7CF;font-family:"Adobe 黑体 Std R" ;
	font-size: 18px;margin-top:20px ;
}
.password-content1 .p-shi span{margin-right: 50px;}
.p-title4 span{color: #dedfe0;}
.clearfix {
    width: 90%;
    margin: 45px auto;
}
.clearfix {
    zoom: 1;
}
.warp-img {
    margin-left: 8px;
    position: absolute;
    margin-top: 39px;
    height: 100px;
    opacity: 0;
}
.clearfix ul li img {
    width: 100%;
    height: 100%;
}
.clearfix ul li p {
    font-size: 12px;
    text-align: center;
    font-family: "宋体";
    line-height: 30px;
    color: #D32A2A;

}
.password-content2{height:130px ;}
.password-content2 p:nth-of-type(1){text-align: left;}
.password-content2 p{margin-left:25px;font-family:"Adobe 黑体 Std R" ;}
.password-content2 .p-shi span{margin-right: 20px;}
.password-content3{height:260px ;}
.similar-content{width: 90%; margin: 0 auto; overflow: hidden;}
.similar-content span{
   height: 45px; line-height: 45px; border-bottom: 1px solid #DFDFDF;
   font-family:"Adobe 黑体 Std R" ;font-size: 16px;display: block; color: #666666;
}
.similar-content li{ color: #666666;
	height: 35px; font-family:"Adobe 黑体 Std R" ;
	line-height: 35px;
}
.similar-content li .icon-name1{
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url(../Images/checkedOff03.png) no-repeat;
    background-size: 100%;
    vertical-align: sub;
    margin-top: 15px;
 
}
.similar-content li .icon-name1.cur {
    background: url(../Images/checkedOn03.png) no-repeat;
    background-size: 100%;
}